  <head>
    <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@0.12.0/dist/Chatroom.css" />
  </head>
  <body>
    <div class="chat-container"></div>
  
    <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@0.12.0/dist/Chatroom.js"/></script>
    <script type="text/javascript">
      var chatroom = new window.Chatroom({
        host: "http://localhost:5005",
        title: "Chat with DutBot",
        container: document.querySelector(".chat-container"),
        welcomeMessage: "Hi, Tôi là DutBot. Tôi có thể giúp gì cho bạn?",
        /*speechRecognition: "en-US",
        voiceLang: "en-US"*/
      });
      chatroom.openChat();
    </script>
  </body>



 <!-- <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Rasa chatbot</title>
 </head>
 <body>
  <script>!(function () {
    let e = document.createElement("script"),
      t = document.head || document.getElementsByTagName("head")[0];
    (e.src =
      "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.1/lib/index.js"),
      // Replace 1.x.x with the version that you want
      (e.async = !0),
      (e.onload = () => {
        window.WebChat.default(
          {
            initPayload:'/greet',
            customData: { language: "en" },
            socketUrl: "https://0edb88165e3c.ngrok.io",
            // add other props here
          },
          null
        );
      }),
      t.insertBefore(e, t.firstChild);
  })();
  </script>
  
</body>
 </html> -->